[Unit]
Description=Baldr Report Server
Documentation=https://github.com/nstuyvesant/baldr
After=network.target

[Service]
User=baldr
Environment=NODE_ENV=production PORT=3000
WorkingDirectory=/home/baldr
ExecStart=/usr/bin/node index.js
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
